@import "../../styles/variables";

.Articles {
    line-height: 1em;
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}

.ArticlesTitle {
    h2 {
        margin-left: 0.5em;
        font-size: 42px;
        font-weight: 300;
        color: $Black;
    }
}

@media (min-width: 800px) {
    .Articles {
        flex-direction: row;
    }
}