@import "../../../styles/variables";

.start_image {
    color: #FFF;
    padding: 2em;
    filter: brightness(100);
}

.start {
    padding: 1em;
    
    img {
        margin-left: 1em;
    }
    
    a:hover {
        cursor: pointer;
        filter: brightness(0);
    }
}