@import "../../styles/variables";

.footer {
    background: $Bg-footer;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -1em;

    &__end {
        display: flex;
        flex-direction: column;
        color: $cor-texto-secondary;
    }
}

@media (min-width: 800px) {
    .footer {
        flex-direction: row;
        justify-content: space-around;
        height: 200px;
    }
}
