@import "../../../styles/variables";

.cardMain {
    flex-direction: column;
    display: flex;
    align-items: center;
    list-style: none;

    li {
        height: 300px;
        margin-left: -2em;
    }

    &__title {
        color: $Black;
    }

    &__paragraph {
        color: $cor-texto-secondary;
        font-size: 18px;
        text-align: justify;
        width: 300px;
    }
}


@media (min-width: 800px) {
    .cardMain {
        flex-direction: row;
        display: flex;
        text-align: left;
        gap: 1em;
        list-style: none;

        li {
            height: 300px;
            margin: 2em 0 0 1em;
            width: 25%;
        }

        &__title {
            color: $Black;
        }

        &__paragraph {
            color: $cor-texto-secondary;
            font-size: 18px;
            width: 270px;
        }
    }
}